@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

/*Global styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Peralta", cursive;
    font-weight: 400;
    background-color: aquamarine;
}

html {
    font-size: 62.5%;
}

/* body {
    overflow: hidden;
} */

/*End of Global Styles*/


/*Start of Nav Section*/

.page-nav {
    color: #000;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}

/*End of Nav Section*/

/*Section 1*/
.head-title {
    height: 20vh;
    width: 100vw;
    padding: 10px;
    font-weight: 600;
    font-size: 50px;
    margin-block: 10px;
    text-align: center;
    
}

.head-section {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
}

.circle-1 {
    width: 150vw;
    height: 150vw;
    background-color: rgba(50, 231, 255, 0.8);
    position: absolute;
    top: -125vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
    animation: rotate 30s infinite;
}   

.circle-1::before {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(50, 231, 255 , 0.1);
    position: absolute;
    top: 0;
    left: 20%;
    border-radius: 40%;
    animation: rotate 30s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*End of Section 1*/

/*Section 2 About */
.section-about {
    margin: 20px;
}

.about-par {
    font-family: 'Times New Roman', Times, serif;
    columns: 3;
    text-align: justify;
}

/*End of Section 2 About */

/* Section 3 - Services */
.services-jobs {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.jobs {
    flex-basis: 20%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    text-align: center;
}

.job-1 {
    align-self: flex-start;
}

image {
    height: 100px;
    width: 100px;
}
/* End of Section 3 - jobs */